*.snap linguist-generated=true
__snapshots__/ linguist-generated=true
yarn.lock linguist-generated=true
Podfile.lock linguist-generated=true
project.pbxproj linguist-generated=true
*.xcscheme linguist-generated=true
*.pbxproj -text

# specific for windows script files
*.bat text eol=crlf